
.stApp {
        background-image:url("https://i.pinimg.com/originals/d0/e9/2f/d0e92f751569d25f161b60dcae435f41.gif");
        background-size: cover;
   
.form {

        background-color: #000000; /* Black background color for the form */
        
}    
}


/* https://upload.wikimedia.org/wikipedia/commons/a/ac/Singapore_skyline_at_sunset_viewed_from_Gardens_by_the_Bay_East_-_20120426.jpg
https://i.pinimg.com/originals/d0/e9/2f/d0e92f751569d25f161b60dcae435f41.gif
https://plus.unsplash.com/premium_photo-1661962355847-9d03ce8bc740?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3Dhttps://cdn.pixabay.com/photo/2023/12/20/07/04/clouds-8459053_1280.
https://cdn.pixabay.com/photo/2023/12/20/07/04/clouds-8459053_1280.jpg
https://24.media.tumblr.com/ed79f89858c7b1e7e28eee6c5c4814ae/tumblr_ms9pqhbZYu1sbckyco1_500.gif
   padding: 20px;
                border-radius: 10px;
                color: white; /* Text color for better contrast 
                width: 400px; /* Adjust width as needed 
                margin: auto; /* Center the form 
                margin-top: 100px; /* Adjust margin-top to position the form */